source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget Be.Vlaanderen.Basisregisters.Build.Pipeline content:true

nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget Swashbuckle.AspNetCore
nuget xunit
nuget xunit.runner.visualstudio
nuget IdentityModel
nuget IdentityModel.AspnetCore.OAuth2Introspection
nuget Microsoft.AspNetCore.Authentication.JwtBearer 
nuget Microsoft.AspNetCore.Mvc.Testing 
nuget Microsoft.AspNetCore.TestHost 
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson
nuget Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer 
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Configuration

nuget FluentAssertions
nuget Marten
nuget FluentValidation
nuget AutoFixture
nuget NodaTime

nuget Serilog
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Thread
nuget Serilog.Extensions.Logging
nuget Serilog.Formatting.Compact
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.File
nuget Serilog.Sinks.Console

nuget OpenTelemetry
nuget OpenTelemetry.Api
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol.Logs
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Instrumentation.Http
nuget OpenTelemetry.Instrumentation.Runtime
nuget NpgSql.OpenTelemetry

nuget Destructurama.JsonNet

nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger.ReDoc
