source https://api.nuget.org/v3/index.json

nuget coverlet.collector 3.1.2
nuget Microsoft.AspNetCore.OpenApi 7.0.1
nuget Microsoft.NET.Test.Sdk 17.3.2
nuget Swashbuckle.AspNetCore 6.4.0
nuget xunit 2.4.2
nuget xunit.runner.visualstudio 2.4.5
nuget IdentityModel
nuget IdentityModel.AspnetCore.OAuth2Introspection
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.AspNetCore.Mvc.Testing
nuget FluentAssertions
nuget Marten
nuget FluentValidation
nuget AutoFixture
